#### 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
b = int(input("Enter birth year:"))
years_list = [b]
for i in range(1,6):
    years_list.append(b+i)
print(years_list)

Enter birth year:1997
[1997, 1998, 1999, 2000, 2001, 2002]

#### 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

#### Ans:
In the year 2000.

In [2]:
third_bday = years_list[3]
print(third_bday)

2000

#### 3.In the years list, which year were you the oldest?

#### Ans:
In the year 2002

In [3]:
oldest = years_list[-1]
print(oldest)

2002

#### 4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,&quot;salmonella&quot;.

In [4]:
things = ["mozzarella", "cinderella","salmonella"]

#### 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

#### Ans:
No, it did not change the element in the list.

In [5]:
print(things[1].capitalize())
print(things)

Cinderella
['mozzarella', 'cinderella', 'salmonella']

#### 6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [6]:
surprise = ["Groucho", "Chico","Harpo"]

#### 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [7]:
print(surprise[-1].lower()[::-1].capitalize())

Oprah

#### 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [8]:
e2f = {"dog":"chien", "cat":"chat", "walrus":"morse"}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

#### 9. Write the French word for walrus in your three-word dictionary e2f.

In [9]:
print("French word for walrus is",e2f["walrus"])

French word for walrus is morse

#### 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [10]:
f2e = {}
for key, value in e2f.items():
    f2e[value]=key
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

#### 11. Print the English version of the French word chien using f2e.

In [11]:
print("English word for chien is",f2e["chien"])

English word for chien is dog

#### 12. Make and print a set of English words from the keys in e2f.

In [12]:
eng_words = {key for key in e2f.keys()}
print(eng_words)

{'cat', 'walrus', 'dog'}

#### 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;, and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and &#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;. Make all the other keys refer to empty dictionaries.

In [13]:
life = {'animals':{'cats':['Henri', 'Grumpy','Lucy'],'octopi':{}, 'emus':{}},'plants':{},'other':{}}
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

#### 14. Print the top-level keys of life.

In [14]:
for key in life.keys():
    print(key)

animals
plants
other

#### 15. Print the keys for life[&#39;animals&#39;].

In [15]:
for key in life['animals'].keys():
    print(key)

cats
octopi
emus

#### 16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [16]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']